body {
    font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
    background: #fff;
    color: 22343D;
}

h1,
h2,
h3, h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    font-family: inherit;
}
img{
    display: block;
}
 .container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
 }

/* header */
header .container{
    display: flex;
}
.logo-link{
font-weight: 700;
font-size: 30px;
line-height: 0.93;
color: #173a56;
text-decoration: none;
margin: 24px 0;
padding-left: 0;
}

.nav-list{
    display: flex;
 gap: 26px;
 justify-content: center;
 margin-right: 76px;
}
.nav-link-{
   font-weight: 700; 
}
.nav-link,
.nav-link- {
 text-decoration: none;
line-height: 1.75;
color: #22343d;
}

.button-navin{
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 16px;
text-align: center;
color: #173a56;
border: 1px solid #bcd0e5;
border-radius: 4px;
width: 105px;
height: 42px;
margin: 19px 21px;
}
.button-navup{
    background: #02897a;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 16px;
color: #fff;
border-radius: 4px;
width: 113px;
height: 42px;
border: none;
margin: 19px auto;
}
.list-button{
    margin-left: auto;
    display: flex;
}

/* hero section */
.hero{
padding-top: 25px;
padding-bottom: 100px;}
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-head{
font-size: 40px;
line-height: 1.5;
margin-bottom: 18px;
max-width: 420px;
}
.hero-text{
   font-size: 18px;
line-height: 1.6;
max-width: 465px;
margin-bottom: 45px;
}
.button-list{
display: flex;
gap: 30px;
}
.btnstart{
    color: #fff;
   background-color: #02897a; 
   border-radius: 4px;
min-width: 178px;
height: 53px;
border: none;
font-weight: 700;
font-size: 16px;
color: #fff;
}
.btn-watch{
font-weight: 600;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #02897a;
border: none;
margin-left: 30px;
background-color: transparent;
min-width: 178px;
height: 53px;
}
/* section product */
.product-section {
    padding-bottom: 50px;
}

.product-tittle {
font-size: 32px;
text-align: center;
color: #22343d;
margin-bottom: 50px;
max-width: 535px;
margin-left: auto;
margin-right: auto;
}
.product-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
.product-item {
width: calc((100% - 90px)/4);
}
.about-tittle{
font-weight: 600;
font-size: 22px;
color: #22343d;
margin-bottom: 13px;
margin-top: 18px;
}
.about-item{
font-size: 16px;
line-height: 1.625;
color: #22343d;
}
.button-sign {
font-weight: 700;
font-size: 16px;
color: #fff;
border-radius: 4px;
min-width: 175px;
height: 53px;
background-color: #02897a;
border: none;
margin-left: auto;
margin-right: auto;
display: block;
text-transform: uppercase;
}
/* section manage */

.section-manage .container{
align-items: center;
justify-content: flex-start;
}

.container {
}
.manage-tittle {
  margin-top: 45px;
  margin-bottom: 25px;
  max-width: 300px;
  height: 80px;
}

.manage-text {
font-size: 16px;
line-height: 1.625;
color: #22343d;
max-width: 486px;
margin-bottom: 30px;
}
.manage-list {
}
.manage-item {

}
.list-tittle{
font-weight: 600;
font-size: 16px;
line-height: 1.625;
color: #22343d;
padding-bottom: 12px;
}
.list-item{
    margin-bottom: 25px;
    width: 486px;
}

